.navbar-brand {
  text-transform: uppercase;
}

.main-body-content {
  margin-top: 50px;
  margin-bottom: 70px;
}
a.log-status{
  font-size: 0.65em;
  letter-spacing: 0.01em;
}
.page-footer > .navbar {
  margin-top: 5px;
  margin-bottom: 0;
}

.crud-btn {
  margin-top: 18px;
}

.top-margin {
  margin-top: 80px;
}
.btn-submit{
  margin-top: 1em;
  font-family: 'Montserrat',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 0.94em;
  letter-spacing: 0.156em;
  text-transform: uppercase;
}
