html, body {
  width: 100%;
  height: 100%;
}
.intro-header{
  position: relative;
  width: 100%;
  padding-top: 50px;
  height: 100vh;
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    /*background: url(../../images/fitness_tracker.jpg) no-repeat center center;*/
    background:
  /* top, transparent red, faked with gradient */
  linear-gradient(
    rgba(29, 31, 57, 0.75),
    rgba(29, 31, 57, 0.70)
  ),
  /* bottom, image */
  url(../img/fitness_tracker.jpg);
    background-size: cover;

}

.intro-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 4.2em;
  }
  .intro-divider {
    border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}
}
hr.divider-lg{
  display: block;
  border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(242, 187, 104, 1), rgba(0, 0, 0, 0));
    margin-bottom: 5em;
}
hr.divider-sm{
  border-color: $green ;
  border-width: 3px;
  max-width: 65px;
}
.intro-header>div:nth-last-of-type(1){
  position: absolute;
  bottom:5%;
  left:50%;
  transform: translateX(-50%);
  img{
      animation-duration: 3s;
  }
}
.home-sections{
  padding: 80px 0 40px 0;
}
.article-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}
.article-box .article-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: $brand-primary;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.article-box .article-box-caption .article-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.article-box .article-box-caption .article-box-caption-content .project-category,
.article-box .article-box-caption .article-box-caption-content .project-name {

  padding: 0 15px;
}
.article-box .article-box-caption .article-box-caption-content .project-category {
  text-transform: uppercase;
  font-size: 1em;


}
.article-box .article-box-caption .article-box-caption-content .project-name {
  font-family: 'Raleway',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.article-box:hover .article-box-caption {
  opacity: 1;
}
.article-box:focus {
  outline: none;
}
@media (min-width: 768px) {
  .article-box .article-box-caption .article-box-caption-content .project-category {
    font-size: 12px;
  }
  .article-box .article-box-caption .article-box-caption-content .project-name {
    font-family: 'Raleway',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    // font-size: 1.25em;
    font-size: 14px;
    padding-top: 1em;
    letter-spacing: 2px;;
  }
  .no-gutter > [class*='col-'] {
    padding-right: -15px;
    padding-left: -15px;
  }
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.bg-dark {
  background-color: $brand-primary;
  color: white;
}
